/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #6B8AB1;
  
}

/* Navbar Styles */
.navbar {
    width: 100%;
    background-color: #5A6EA9;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
  }

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: underline;
    font-size: 17px;
  }

  .name {
    display: flex;
    justify-self: flex-start;
  }


.skills {
  display: inline-block;
  width: 28%;
  padding: 30px 10px;
  margin: 2%;
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgba(20, 20, 22, 0.2);
  background: #fff;
}

.skills img {
  height: 50px;
  margin: 5px;
}

.skills small {
  padding-top: 10px;
  display: block;
}

  /* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #7CA5B8;
}

/* Image Style*/
.proPic {
  display: block;
  margin: 10px auto;
  height: 500px;
  width: 400px;
}

.projects {
  display: inline-block;
  height: 25%;
  width: 100%;
  padding: 4px;
  margin: 0 0 5px 5px;
}

.projectContainer2 {
  display: inline-flex;
}

.secProjts {
  width: 25%;
}

.aboutMe {
  display: flex;
  justify-content: center;
}

.secHead {
  display: flex;
  justify-content: center;
}

.resBtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.resBtn a {
  color: #FDF8F5;
}

/* AboutMe Style*/
.ContactMe {
  display: grid;
  text-align: left;
 /* position: fixed;*/
  bottom: 0;
  margin: 40px 0;
  white-space: pre;
}

.ContactMe h2 {
  margin: 0 6%;
}

/* Contact Me Styles*/
form {
  margin: 0 5%;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: pre;
}

label {
  display: inline-block;
  width: 100px;
}

button {
  margin: 10px 10px 10px 0px;
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}

input {
  border: 5px solid black;
  height: 30px;
}

textarea {
  resize: vertical;
  border: 5px solid black;
}

/* Height of the footer*/ 
footer {
 /* position: fixed;*/
  padding: 0 5%;
  bottom: 0;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #5A6EA9;
  color: var(--accentColor);
  display: flex;
}

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
/*@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }*/